div .pTitle{
  text-align: center;
  font-size: 3em;
  padding-bottom: 50px;
}

hr { 
  border : 0;
  height: 1px; 
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

div .faqQuestion{
  font-size: 2em;
  padding-bottom: 10px;
  text-align: center;
}

div .pageAnswer{
  font-weight: bold;
  padding-bottom: 30px;
  text-align: center;
}

.header_seg 
{
  height: 200px;
}

.main_seg 
{
  height: 500px;
}

.top_header 
{
  padding-top: 50px;
  font-weight: bolder;
  font-style: italic;
  font-size: 60px;
}

.form_field 
{
  padding-top: 5px;
  padding-bottom: 5px;
}

.siteheader{
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}

.form_seg{
  /*max-width: 450px;*/
  max-height: 450 px!important;
  /*class name changed to main_seg*/
}

.main_window {
  height: 85%;
}

body {
  background: gainsboro;
}
